@{
    ViewData["Title"] = "Critical Care and Neurocritical Care";
}
<div class="container-fluid">
    <div class="row page-title-wrapper">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Critical Care and Neurocritical Care
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    The critical care department, also known as the intensive care unit (ICU), provides specialized care for patients who are critically ill or injured. Some of the services commonly offered in a critical care department include:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                    <li>
                                    Continuous monitoring of vital signs, such as heart rate, blood pressure, and oxygen saturation
                                    </li>
                                    <li>
                                    Mechanical ventilation for patients who require assistance with breathing
                                    </li>
                                    <li>
                                    Hemodynamic monitoring to assess cardiac function and blood flow
                                    </li>
                                    <li>
                                    Intravenous medications and fluids to support blood pressure and organ function

                                    </li>
                                    <li>
                                    Management of acute respiratory distress syndrome (ARDS)
                                    </li>
                                    <li>
                                    Treatment of sepsis and septic shock
                                    </li>
                                    <li>
                                    Renal replacement therapy for patients with kidney failure
                                    </li>
                                    <li>
                                    Nutritional support for patients who are unable to eat or drink normally
                                    </li>
                                    <li>
                                    Wound care and management
                                    </li>
                                    <li>
                                    Pain management and sedation for comfort and healing
                                    </li>
                                    <li>
                                    Management of neurological emergencies, such as stroke or traumatic brain injury
                                    </li>
                                    <li>
                                    Post-operative care for patients who have undergone complex surgeries
                                    </li>
                                    <li>
                                    Continuous assessment and adjustment of treatment plans based on the patient's condition
                                    </li>
                                    <li>
                                    Multidisciplinary care involving critical care nurses, physicians, respiratory therapists, pharmacists, and other healthcare professionals
                                    </li>
                                    <li>
                                    Family support and communication to keep loved ones informed and involved in the patient's care
                                    </li>
                                    <li>
                                    Palliative care for patients with terminal illnesses or those transitioning to end-of-life care
                                    </li>
                                    <li>
                                    Rehabilitation planning and coordination for patients recovering from critical illness or injury
                                    </li>
                                    <li>
                                    Transfer coordination for patients who require higher levels of care or specialized services
                                    </li>
                                </ui>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    These are some of the services commonly offered in a critical care department. The critical care team works together to provide comprehensive, 24/7 care to critically ill patients in order to optimize their chances of recovery and improve their outcomes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <ui>
                                    <p class="profile-position">
                                        <strong>Intensive Care Units (ICUs): </strong>MGH likely has specialized ICUs such as Medical Intensive Care Unit (MICU), Surgical Intensive Care Unit (SICU), Cardiac Intensive Care Unit (CICU), Neurocritical Care Unit (NCCU), and others.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Advanced Monitoring: </strong>Critical care units are equipped with advanced monitoring systems to closely monitor patients' vital signs, cardiac activity, blood chemistry, and other parameters.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Ventilator Management: </strong>Management of patients requiring mechanical ventilation due to respiratory failure or other conditions.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Hemodynamic Monitoring: </strong>Monitoring and management of patients' cardiovascular status and blood flow.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Nutritional Support:  </strong>Providing specialized nutritional support for critically ill patients who are unable to eat normally.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Pain Management: </strong>Managing pain in critically ill patients to ensure their comfort and well-being.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Infection Control: </strong>Preventing and managing infections in critically ill patients, who are particularly susceptible to healthcare-associated infections.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Multidisciplinary Care Team: </strong>Critical care units typically have a multidisciplinary team of specialists including intensivists, nurses, respiratory therapists, pharmacists, nutritionists, and others to provide comprehensive care.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Advanced Procedures:  </strong>Performing procedures such as central line placements, arterial line placements, bronchoscopies, and others as needed for patient care.
                                    </p>
                                    <p class="profile-position">
                                        <strong>End-of-Life Care: </strong>Providing support and care for patients and their families during difficult end-of-life decisions and care.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Orthopedic Surgery: </strong>The department offers a variety of surgical treatments for musculoskeletal conditions, including joint replacement surgeries, arthroscopic procedures, and complex orthopedic reconstructions.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Sports Medicine: </strong>Orthopedic surgeons often specialize in sports medicine and provide care for athletes with sports-related injuries, such as ACL tears, meniscus injuries, and shoulder instability.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Joint Replacement:  </strong>The department is known for its expertise in joint replacement surgeries, including hip replacement, knee replacement, and shoulder replacement procedures.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Spine Surgery:  </strong>MGH offers advanced spine surgery services for patients with back and neck conditions, such as herniated discs, spinal stenosis, and spinal deformities.
                                   </p>
                                    <p class="profile-position">
                                        <strong>Hand and Upper Extremity Surgery: </strong>The department provides specialized care for conditions affecting the hand, wrist, elbow, and shoulder, including carpal tunnel syndrome, arthritis, and fractures.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Pediatric Orthopedics: </strong>Offers comprehensive orthopedic care for children and adolescents with congenital conditions, growth-related issues, and sports injuries.
                                    </p>
                                    <p class="profile-position">
                                        <strong>Orthopedic Oncology: </strong>The department has expertise in treating bone and soft tissue tumors, providing multidisciplinary care for patients with musculoskeletal cancers.
                                    </p>
                                    <p class="profile-position">
                                        <strong> Orthopedic Trauma: </strong>MGH's orthopedic surgeons are skilled in treating traumatic injuries, such as fractures, dislocations, and complex orthopedic trauma cases.
                                    </p>
                                </ui>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
