@{
    ViewData["Title"] = "Emergency Medicine";
}
<div class="container-fluid">
    <div class="row page-title-wrapper">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Emergency Medicine
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->    
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <ui>
                                    <li>
                                        Emergency medical care for a wide range of acute illnesses and injuries.
                                    </li>
                                    <li>
                                        Triage services to quickly assess and prioritize patient care based on the severity of their condition.
                                    </li>
                                    <li>
                                        Diagnostic services, including laboratory tests, imaging (such as X-rays, CT scans, and ultrasounds), and other tests to help diagnose medical conditions.
                                    </li>
                                    <li>
                                        Treatment for various medical emergencies, such as heart attacks, strokes, trauma, respiratory distress, and other critical conditions.
                                    </li>
                                    <li>
                                        Rapid intervention and stabilization of patients in critical condition.
                                    </li>
                                    <li>
                                        Access to specialists in various medical fields for consultation and coordination of care.
                                    </li>
                                    <li>
                                        Observation services for patients who require extended monitoring before a decision is made about their care.
                                    </li>
                                    <li>
                                        Referral to inpatient services or other specialty services within the hospital for ongoing treatment and management of medical conditions.
                                    </li>
                                    <li>
                                        Patient education and discharge planning to ensure a smooth transition from the emergency department to further care or follow-up.
                                    </li>     
                                    </ui>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
