@{
    ViewData["Title"] = "Department of Infectious Diseases";
}
<div class="container-fluid">
    <div class="row page-title-wrapper">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Department of Infectious Diseases
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Hospitals in the USA typically offer a range of services within their infectious disease departments to diagnose, treat, and prevent infectious diseases. Some common services provided in the infectious disease department of hospitals in the USA include:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <ui>
                                    <li>
                                        Diagnosis and treatment of common infectious diseases such as influenza, pneumonia, tuberculosis, HIV/AIDS, hepatitis, and sexually transmitted infections
                                    </li>
                                    <li>
                                        Management of patients with complex or rare infections, including those with antibiotic-resistant infections.
                                    </li>
                                    <li>
                                        Infection control and prevention measures to reduce the spread of infections within the hospital setting.
                                    </li>
                                    <li>
                                        Travel medicine services, including pre-travel consultations, vaccinations, and post-travel evaluations for individuals traveling internationally.
                                    </li>
                                    <li>
                                        Immunization services, including routine vaccinations for children and adults, as well as specialized vaccines for travelers or individuals at higher risk of certain infections.
                                    </li>
                                    <li>
                                        Consultation services for patients with infections that are difficult to diagnose or manage.
                                    </li>
                                    <li>
                                        Antimicrobial stewardship programs to promote the appropriate use of antibiotics and reduce the development of antibiotic resistance.
                                    </li>
                                    <li>
                                        Outpatient services for individuals with chronic infections requiring long-term management, such as HIV/AIDS or hepatitis.
                                    </li>
                                    <li>
                                        Inpatient services for patients requiring hospitalization for the treatment of severe or complicated infections.
                                    </li>
                                    <li>
                                        Collaboration with other medical specialties, such as infectious disease specialists working with surgeons to prevent and manage surgical site infections.
                                    </li>
                                </ui>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Please note that the specific services offered may vary between hospitals and healthcare facilities, and this list is not exhaustive.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
