@{
    ViewData["Title"] = "Department of Obstetrics and Gynaecology";
}
<div class="container-fluid">
    <div class="row page-title-wrapper">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Department of Obstetrics and Gynaecology
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Massachusetts General Hospital (MGH) is a renowned hospital in Boston, Massachusetts, known for its comprehensive healthcare services. The Department of Obstetrics and Gynecology at Massachusetts General Hospital offers a wide range of services under the umbrella of women's health. Some of the services provided in the Department of Obstetrics and Gynecology at MGH may include:

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <ui>
                                    <li>
                                        Routine gynecological exams, including Pap smears, pelvic exams, and breast exams.
                                    </li>
                                    <li>
                                        Contraceptive counseling and management, including prescription of birth control pills, IUDs, contraceptive implants, and other contraceptive methods.
                                    </li>
                                    <li>
                                        Evaluation and treatment of gynecological conditions such as menstrual disorders, pelvic pain, endometriosis, fibroids, and ovarian cysts.
                                    <li>
                                        Gynecological oncology services for the diagnosis and treatment of gynecological cancers, including cervical, ovarian, uterine, and vulvar cancers.
                                    </li>
                                    <li>
                                        Minimally invasive gynecological surgery, including laparoscopic and robotic-assisted procedures for conditions such as fibroids and endometriosis.
                                    </li>
                                    <li>
                                        Fertility evaluation and treatment, including assisted reproductive technologies like in vitro fertilization (IVF).
                                    </li>
                                    <li>
                                        High-risk obstetrics care for pregnant women with medical conditions or pregnancy complications.
                                    </li>
                                    <li>
                                        Prenatal care for pregnant women, including routine check-ups, ultrasounds, and prenatal testing.
                                    </li>
                                    <li>
                                        Labor and delivery services, including monitoring during labor, pain management options, and assistance with childbirth.
                                    </li>
                                    <li>
                                        Postpartum care for new mothers, including breastfeeding support, emotional support, and monitoring for postpartum complications.
                                    </li>
                                    <li>
                                        Menopause management, including hormone replacement therapy and management of menopausal symptoms.
                                    </li>
                                    <li>
                                        Sexual health services, including evaluation and treatment of sexually transmitted infections (STIs) and sexual dysfunction.
                                    </li>
                                    <li>
                                        Pelvic floor disorders treatment, including management of urinary incontinence and pelvic organ prolapse
                                    </li>
                                    <li>
                                        Genetic counseling and testing for hereditary conditions that may affect women's health.
                                    </li>
                                </ui>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Please note that this list is not exhaustive, and the specific services offered in the Department of Obstetrics and Gynecology at Massachusetts General Hospital may vary or expand over time. It is recommended to visit the hospital's official website or contact the department directly for the most up-to-date information on the services available.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
