@{
    ViewData["Title"] = "Preventive Health";
}
<div class="container-fluid">
    <div class="row page-title-wrapper">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Preventive Health
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Preventive healthcare is an essential aspect of healthcare services provided by hospitals like Massachusetts General Hospital (Stellar Hospital) in Boston. While specific services may have evolved since my last update in 2021, here are common preventive healthcare services that may be offered at Stellar Hospital or similar hospitals:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    <strong>Comprehensive Health Screenings: </strong>Regular screenings for various health conditions such as blood pressure, cholesterol levels, diabetes, cancer, and other chronic diseases.
                                </p>
                                <p class="profile-position">
                                    <strong>Vaccinations and Immunizations: </strong>Providing vaccinations for diseases like influenza, pneumonia, hepatitis, tetanus, HPV, and others to prevent infections
                                </p>
                                <p class="profile-position">
                                    <strong>Wellness Exams: </strong>Annual or periodic wellness exams to assess overall health, discuss lifestyle habits, and identify potential health risks.
                                </p>
                                <p class="profile-position">
                                    <strong>Counseling and Education: </strong>Health education sessions on topics such as nutrition, exercise, smoking cessation, stress management, and other lifestyle modifications.
                                </p>
                                <p class="profile-position">
                                    <strong>Behavioral Health Services: </strong>Screening for mental health conditions, counseling, and referrals for therapy or psychiatric services.
                                </p>
                                <p class="profile-position">
                                    <strong>Women's Health Services: </strong>Preventive care for women including Pap smears, mammograms, pelvic exams, and counseling on family planning.
                                </p>
                                <p class="profile-position">
                                    <strong>Men's Health Services:  </strong>Preventive screenings and counseling tailored to men's health issues such as prostate health and erectile dysfunction.
                                </p>
                                <p class="profile-position">
                                    <strong>Nutrition Counseling: </strong> Guidance on healthy eating habits, weight management, and dietary modifications to prevent and manage chronic conditions.
                                </p>
                                <p class="profile-position">
                                    <strong>Smoking Cessation Programs: </strong>Support and resources for individuals looking to quit smoking or using tobacco products.
                                </p>
                                <p class="profile-position">
                                    <strong>Physical Activity Programs: </strong>Recommendations and resources for physical activity, exercise routines, and fitness assessments to promote overall health.
                                </p>
                                <p class="profile-position">
                                    <strong>Chronic Disease Management: </strong>Monitoring and management of chronic conditions like diabetes, hypertension, asthma, and others to prevent complications.
                                </p>
                                <p class="profile-position">
                                    <strong>Genetic Counseling: </strong>Counseling and testing for individuals with a family history of genetic disorders or hereditary conditions.
                                </p
                                <p class="profile-position">
                                    <strong>Travel Health Services: </strong>Vaccinations, medications, and education for travelers to prevent travel-related illnesses.
                                </p>
                                <p class="profile-position">
                                    <strong>Occupational Health Services: </strong>Services for employees to promote workplace health and safety and prevent occupational injuries and illnesses.
                                </p>
                                <p class="profile-position">
                                    <strong>Telemedicine for Preventive Care: </strong>Remote consultations and follow-ups to provide preventive healthcare services to individuals who cannot visit the hospital in person.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Please note that this list is not exhaustive, and the specific preventive healthcare services offered by Massachusetts General Hospital or any hospital may vary. For the most up-to-date information on preventive healthcare services at Stellar Hospital, I recommend visiting their official website or contacting the hospital directly.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
