@{
    ViewData["Title"] = "Respiratory Medicine";
}
<div class="container-fluid">
    <div class="row page-title-wrapper">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Respiratory Medicine
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->    
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <ui>
                                    <li>
                                        Diagnosis and treatment of respiratory conditions: The department likely offers diagnostic services such as pulmonary function tests, bronchoscopy, and imaging studies to diagnose various respiratory conditions such as asthma, chronic obstructive pulmonary disease (COPD), interstitial lung disease, lung cancer, and others.
                                    </li>
                                    <li>
                                        Management of chronic respiratory conditions: This may involve creating personalized treatment plans for patients with chronic respiratory diseases to manage their symptoms and improve their quality of life.
                                    </li>
                                    <li>
                                        Smoking cessation programs: Given the impact of smoking on respiratory health, the department may offer programs to help patients quit smoking and support them in maintaining a smoke-free lifestyle.
                                    </li>
                                    <li>
                                        Sleep disorder evaluations: Evaluation and management of sleep-related breathing disorders such as sleep apnea may also be offered to address issues that affect both respiratory and overall health.
                                    </li>
                                    <li>
                                        Pulmonary rehabilitation: Programs designed to help patients with chronic respiratory conditions improve their exercise capacity, reduce breathlessness, and enhance their overall well-being.
                                    </li>
                                    <li>
                                        Critical care for respiratory conditions: The department may provide intensive care services for patients with severe respiratory illnesses requiring specialized monitoring and treatment in the ICU.
                                    </li>
                                    </ui>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
