@{
    ViewData["Title"] = "Urology Department";
}
<div class="container-fluid">
    <div class="row page-title-wrapper">
        <div class="col-lg-12 col-xs-12 col-md-12">
            <div class="page-title">
                <h2 class="page-heading">
                    Urology Department
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    The urology department in a hospital typically offers a range of services related to the diagnosis and treatment of disorders of the urinary tract and male reproductive system. Some of the common services provided by a urology department include:
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <ui>
                                    <li>
                                        General urology consultations and examinations
                                    </li>
                                    <li>
                                        Urological cancer screenings and treatment
                                    </li>
                                    <li>
                                        Kidney stone management and treatment
                                    </li>
                                    <li>
                                        Bladder disorders diagnosis and treatment
                                    </li>
                                    <li>
                                        Prostate health screening and management
                                    </li>
                                    <li>
                                        Erectile dysfunction evaluation and treatment
                                    </li>
                                    <li>
                                        Urinary incontinence treatment
                                    </li>
                                    <li>
                                        Male infertility evaluation and treatment
                                    </li>
                                    <li>
                                        Vasectomy and other male sterilization procedures
                                    </li>
                                    <li>
                                        Pediatric urology services for children with urological issues
                                    </li>
                                    <li>
                                        Urodynamic testing for bladder function evaluation
                                    </li>
                                    <li>
                                        Cystoscopy and other endoscopic procedures
                                    </li>
                                    <li>
                                        Laser surgery for various urological conditions
                                    </li>
                                    <li>
                                        Minimally invasive surgery for urological conditions
                                    </li>
                                    <li>
                                        Reconstructive urology for congenital or acquired urological abnormalities
                                    </li>
                                    <li>
                                        Andrology services for male reproductive health issues
                                    </li>
                                    <li>
                                        Sexual health counseling and treatment
                                    </li>
                                    <li>
                                        Second opinions for complex urological cases
                                    </li>
                                </ui>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-12 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    These are some of the services commonly offered by a urology department. The specific services may vary depending on the hospital or healthcare facility. It's important to consult with a urologist for a comprehensive evaluation and personalized treatment plan if you have any urological concerns.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
