@{
    ViewData["Title"] = "Home Page";
}
<!-- Main -->
<main>
    <!-- Banner -->
    <section class="home-slider slider" data-sizes="50vw">
        <div>
            <div class="section position-relative slider-item"
                 style="background-image: url(../images/Slide1.jpg);">
                <div class="image-overlay"></div>
                <div class="r-container h-100 position-relative" style="z-index: 2;">
                    <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-left mx-auto text-left text-white gap-4"
                         style="max-width: 895px;">
                        <span class="font-2">WELCOME TO STELLAR</span>
                        <h1 class="font-2 banner-heading">Navigating the Depths of Phsycology</h1>
                        <p>
                            Etiam posuere sapien ut luctus vehicula. Aenean non auctor arcu, et tempus arcu. Integer
                            tristique volutpat
                            posuere. Aenean ac lectus ultrices, lacinia leo a volutpat eros curabitur.
                        </p>
                        <!-- <div class="d-flex flex-row gap-3"> -->
                        <!-- <a href="" class="btn btn-accent btn-white-outline-hover px-4 py-3">CONSULTATION</a> -->
                        <!-- <a href="" class="btn btn-white-outline px-4 py-3">MAKE APPOINTMENT</a> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="section position-relative  slider-item"
                 style="background-image: url(../images/Slide2.jpg);">
                <div class="image-overlay"></div>
                <div class="r-container h-100 position-relative" style="z-index: 2;">
                    <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-left mx-auto text-left text-white gap-4"
                         style="max-width: 895px;">
                        <span class="font-2">WELCOME TO Stellar</span>
                        <h1 class="font-2 banner-heading">Navigating the Depths of Phsycology</h1>
                        <p>
                            Etiam posuere sapien ut luctus vehicula. Aenean non auctor arcu, et tempus arcu. Integer
                            tristique volutpat
                            posuere. Aenean ac lectus ultrices, lacinia leo a volutpat eros curabitur.
                        </p>
                        <!-- <div class="d-flex flex-row gap-3"> -->
                        <!-- <a href="" class="btn btn-accent btn-white-outline-hover px-4 py-3">CONSULTATION</a> -->
                        <!-- <a href="" class="btn btn-white-outline px-4 py-3">MAKE APPOINTMENT</a> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="section position-relative  slider-item"
                 style="background-image: url(../images/Slide3.jpg);">
                <div class="image-overlay"></div>
                <div class="r-container h-100 position-relative" style="z-index: 2;">
                    <div class="d-flex flex-column w-100 h-100 justify-content-center align-items-left mx-auto text-left text-white gap-4"
                         style="max-width: 895px;">
                        <span class="font-2">WELCOME TO Stellar</span>
                        <h1 class="font-2 banner-heading">Navigating the Depths of Phsycology</h1>
                        <p>
                            Etiam posuere sapien ut luctus vehicula. Aenean non auctor arcu, et tempus arcu. Integer
                            tristique volutpat
                            posuere. Aenean ac lectus ultrices, lacinia leo a volutpat eros curabitur.
                        </p>
                        <!-- <div class="d-flex flex-row gap-3"> -->
                        <!-- <a href="" class="btn btn-accent btn-white-outline-hover px-4 py-3">CONSULTATION</a> -->
                        <!-- <a href="" class="btn btn-white-outline px-4 py-3">MAKE APPOINTMENT</a> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--*-->
    <div class="section second-sect">
        <div class="r-container px-2">
            <div class="d-flex flex-column gap-4 mx-auto text-center mb-4">
                <h3 class="font-1 fw-semibold section-heading-title">Medical Imaging & Intervention <br>in an Oasis of Wellness</h3>
                <p class="text-black section-para">
                    Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                    feugiat a ac ex. Etiam eleifend orci eget tempus rhoncus. Nunc ligula erat, elementum eu
                    augue at, pharetra iaculis leo.
                </p>
                <div class="section-action">
                    <button class="get-app button-set more-info" type="button">More Info</button>
                </div>
            </div>
        </div>
    </div>

    <!--*-->
    <div class="section services-card-info">
        <div class="r-container">
            <div class="row row-cols-lg-3 row-cols-1">
                <div class="col-lg-4 col-xs-12 col-md-4 mb-3">
                    <div class="card-image-wrapper mb-3">
                        <img src="../images/card-img-1.png" class="card-img" alt="card-img" />
                    </div>
                    <h3 class="font-2 fw-semibold services-title mb-3">Ultrasound</h3>
                    <p class="text-black section-para mb-3">
                        Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Etiam eleifend orci eget tempus rhoncus. Nunc ligula erat, elementum eu
                        augue at, pharetra iaculis leo.
                    </p>
                    <div class="section-action mb-5">
                        <button class="get-app button-set-default" type="button">More Info</button>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-md-4 mb-3">
                    <div class="card-image-wrapper mb-3">
                        <img src="../images/card-img-2.png" class="card-img" alt="card-img" />
                    </div>
                    <h3 class="font-2 fw-semibold services-title mb-3">Live Longer Plan</h3>
                    <p class="text-black section-para mb-3">
                        Etiam eleifend orci eget tempus rhoncus. Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Nunc ligula erat, elementum eu
                        augue at, pharetra iaculis leo.
                    </p>
                    <div class="section-action mb-5">
                        <button class="get-app button-set-default" type="button">More Info</button>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-md-4 mb-3">
                    <div class="card-image-wrapper mb-3">
                        <img src="../images/card-img-3.png" class="card-img" alt="card-img" />
                    </div>
                    <h3 class="font-2 fw-semibold services-title mb-3">Corporate Health Services</h3>
                    <p class="text-black section-para mb-3">
                        Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Etiam eleifend orci eget tempus rhoncus. Nunc ligula erat, elementum eu
                        augue at, pharetra iaculis leo.
                    </p>
                    <div class="section-action mb-5">
                        <button class="get-app button-set-default" type="button">More Info</button>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-md-4 mb-3">
                    <div class="card-image-wrapper mb-3">
                        <img src="../images/card-img-4.png" class="card-img" alt="card-img" />
                    </div>
                    <h3 class="font-2 fw-semibold services-title mb-3">Breast Care</h3>
                    <p class="text-black section-para mb-3">
                        pharetra iaculis leo Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Etiam eleifend orci eget tempus rhoncus. Nunc ligula erat, elementum eu
                        augue at, pharetra iaculis leo.
                    </p>
                    <div class="section-action mb-5">
                        <button class="get-app button-set-default" type="button">More Info</button>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-md-4 mb-3">
                    <div class="card-image-wrapper mb-3">
                        <img src="../images/card-img-5.png" class="card-img" alt="card-img" />
                    </div>
                    <h3 class="font-2 fw-semibold services-title mb-3">Prostate Care</h3>
                    <p class="text-black section-para mb-3">
                        Elementum eu
                        augue at etiam eleifend orci eget tempus rhoncus. Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Nunc ligula erat, elementum eu
                        augue at, pharetra iaculis leo.
                    </p>
                    <div class="section-action mb-5">
                        <button class="get-app button-set-default" type="button">More Info</button>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-md-4 mb-3">
                    <div class="card-image-wrapper mb-3">
                        <img src="../images/card-img-6.png" class="card-img" alt="card-img" />
                    </div>
                    <h3 class="font-2 fw-semibold services-title mb-3">Pain Management</h3>
                    <p class="text-black section-para mb-3">
                        Malesuada sem porta mollis Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                        feugiat a ac ex. Etiam eleifend orci eget tempus rhoncus. Nunc ligula erat, elementum eu
                        augue at, pharetra iaculis leo.
                    </p>
                    <div class="section-action mb-5">
                        <button class="get-app button-set-default" type="button">More Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   @*  <!-- *About -->
    <div class="section about-section">
        <div class="r-container">
            <div class="row row-cols-lg-2 row-cols-1">
                <div class="col pe-lg-5 mb-3 order-second">
                    <div class="d-flex flex-column gap-4">
                        <h3 class="font-1 about-header">Dr. Lorem ipsum</h3>
                        <div class="d-flex flex-column text-gray info-para">
                            <p>
                                Dr. Lorem ipsum completed his specialty training in <a href="#" class="info-link">Diagnostic Radiology at McGill University</a>, followed by subspecialty training in <a href="#" class="info-link">Lorem ipsum</a>.
                            </p>
                            <p>
                                Lorem ipsum has served as the director of body MRI at University of Massachusetts from 2014-2020, where he was promoted to <a href="#" class="info-link">Associate Professor of Radiology</a> based on clinical excellence and education. He has been serving as the director of MRI value and quality at McGill University Health Center (MUHC) since January 2021, and as the chief of the radiology department at Lakeshore General Hospital (LGH) in Montreal’s West Island since 2019.
                            </p>
                            <p>
                                Lorem ipsum has completed <a href="#" class="info-link">Harvard Law School’s</a> programs in “Negotiation and leadership”, “Mediation and Conflict Management”, and is a bicentennial graduate of International Masters in Healthcare Management & Leadership <a href="#" class="info-link">(IMHL)</a> at McGill’s Desautels Faculty of Management.
                            </p>
                            <p>
                                Lorem ipsum vision for a state-of-the-art medical institution is the product of 1) more than 10 years of community and academic medical practice experience across multiple healthcare system, 2) formal training in healthcare leadership, and 3) the unprecedented healthcare challenges of the pandemic.
                            </p>
                            <p>
                                Lorem ipsum is the founder of Stellar.
                            </p>
                        </div>
                        <div>
                            <a href="#" class="btn btn-animated">Meet <br />our Team</a>
                        </div>
                    </div>
                </div>
                <div class="col position-relative order-1-st">
                    <div class="ps-lg-5">
                        <img src="../images/Khashy-1.jpg" alt="image"
                             class="img-fluid w-100 mb-lg-0 mb-3" />
                    </div>
                </div>
            </div>
        </div>
    </div>
 *@
    <!--* -->
    <div class="section box-section">
        <div class="r-container">
            <div class="row row-cols-lg-2 row-cols-1">
                <div class="col pe-lg-5 mb-3 d-flex align-items-center">
                    <div class="d-flex flex-column gap-4">
                        <h3 class="font-1 header-title">Comprehensive Integrative & Compassionate</h3>
                        <div class="d-flex flex-column text-gray info-para">
                            <p>
                                The Institute for Specialized Medicine and Intervention, Stellar, is a health-care institute based on care, dignity and hope. Our Mission is to restore and preserve our patients’ peace of mind and dignity by offering compassionate and accountable state of the art medical care.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="ps-lg-5 position-up">
                        <img src="../images/Photo-15.jpeg" alt="image"
                             class="img-fluid w-100 mb-lg-0 mb-3 img-box-up" />
                    </div>
                    <!-- <div class="ps-lg-5 position-down"> -->
                    <!-- <img src="../images/19.jpg" alt="image" -->
                    <!-- class="img-fluid w-100 mb-lg-0 mb-3 img-box-down" /> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>

    <!--* Precision & Excellence-->
    <div class="section precision-section">
        <div class="r-container">
            <div class="row row-cols-lg-2 row-cols-1">
                <div class="col position-relative">
                    <div class="s-widget-container">
                        <div class="s-widget-container back-image-container">
                            <img src="../images/Layer-2.png" alt="Layer-Image" />
                        </div>
                        <h2 class="s-heading-title s-size-default">Precision  <br>&amp; Excellence</h2>
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="s-widget-container s-widget-para">
                        <p>Stellar brings together a team of highly trained, ambitious and motivated health-care professionals, sharing the vision of restoring patients’ peace of mind and dignity through compassionate, patient-centered value- and evidence-based medicine. We pursue with fervour our strategic principle, our credo, and our noble purpose of caring for “Each Patient All The Way”.</p>
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-2 row-cols-1 two-block-wrapper">
                <div class="col position-relative">
                    <div class="s-widget-container mb-3 mb-lg-0 mb-xl-0 mb-xxl-0">
                        <img src="../images/hp-img1-2.png" alt="hp-Image" />
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="s-widget-container">
                        <img src="../images/hp-img2.png" alt="hp-Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section box-section pateint-say">
        <div class="r-container">
            <div class="row row-cols-lg-1 row-cols-1">
                <div class="col position-relative">
                    <div class="p-widget-container">
                        <h2 class="p-heading-title p-size-default">What Our Patients Say</h2>
                    </div>
                </div>
            </div>

            <section class="review-slider slider mt-5">
                <div>
                    <div class="single-testimonial-slider">
                        <div class="testimonial-commentor-bio ">
                            <span class="testimonial-profile-info">
                                <strong class="testimonial-author-name"></strong>
                                <span class="testimonial-author-des"></span>
                            </span>
                        </div>
                        <div class="testimonial-commentor-content">
                            <div class="testimonial-watermark-icon d-flex justify-content-center mb-3">
                                <i aria-hidden="true" class="fa fa-quote-right"></i>
                            </div>
                            <p>
                                <strong>
                                    I recommend Stellar wholeheartedly !
                                    I had the pleasure of experiencing the highly professional, caring, and inviting personnel at the Stellar Clinic for the first time recently, and cannot say enough about their wonderful service!
                                </strong>
                            </p>
                            <ul class="testimonial-stars">
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="single-testimonial-slider">
                        <div class="testimonial-commentor-bio ">
                            <span class="testimonial-profile-info">
                                <strong class="testimonial-author-name"></strong>
                                <span class="testimonial-author-des"></span>
                            </span>
                        </div>
                        <div class="testimonial-commentor-content">
                            <div class="testimonial-watermark-icon d-flex justify-content-center mb-3">
                                <i aria-hidden="true" class="fa fa-quote-right"></i>
                            </div>
                            <p>
                                <strong>We were very pleased with your dedicated and efficient service starting with the Receptionist, and the Nurse and the Technician and then Doctor who handled us.</strong>
                            </p>
                            <ul class="testimonial-stars">
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="single-testimonial-slider">
                        <div class="testimonial-commentor-bio ">
                            <span class="testimonial-profile-info">
                                <strong class="testimonial-author-name"></strong>
                                <span class="testimonial-author-des"></span>
                            </span>
                        </div>
                        <div class="testimonial-commentor-content">
                            <div class="testimonial-watermark-icon d-flex justify-content-center mb-3">
                                <i aria-hidden="true" class="fa fa-quote-right"></i>
                            </div>
                            <p>
                                <strong>We were very pleased with your dedicated and efficient service starting with the Receptionist, and the Nurse and the Technician and then Doctor who handled us.</strong>
                            </p>
                            <ul class="testimonial-stars">
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="single-testimonial-slider">
                        <div class="testimonial-commentor-bio ">
                            <span class="testimonial-profile-info">
                                <strong class="testimonial-author-name"></strong>
                                <span class="testimonial-author-des"></span>
                            </span>
                        </div>
                        <div class="testimonial-commentor-content">
                            <div class="testimonial-watermark-icon d-flex justify-content-center mb-3">
                                <i aria-hidden="true" class="fa fa-quote-right"></i>
                            </div>
                            <p>
                                <strong>We were very pleased with your dedicated and efficient service starting with the Receptionist, and the Nurse and the Technician and then Doctor who handled us.</strong>
                            </p>
                            <ul class="testimonial-stars">
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="single-testimonial-slider">
                        <div class="testimonial-commentor-bio ">
                            <span class="testimonial-profile-info">
                                <strong class="testimonial-author-name"></strong>
                                <span class="testimonial-author-des"></span>
                            </span>
                        </div>
                        <div class="testimonial-commentor-content">
                            <div class="testimonial-watermark-icon d-flex justify-content-center  mb-3">
                                <i aria-hidden="true" class="fa fa-quote-right"></i>
                            </div>
                            <p>
                                <strong>We were very pleased with your dedicated and efficient service starting with the Receptionist, and the Nurse and the Technician and then Doctor who handled us.</strong>
                            </p>
                            <ul class="testimonial-stars">
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                                <li><a><i class="fa fa-star active"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--*-->
    <div class="section book-appointment-section">
        <div class="r-container">
            <div class="row row-cols-lg-2 row-cols-1">
                <div class="col pe-lg-5 mb-3 d-flex align-items-center flex-column gap-4 left-container-padd">
                    <div class="widget-container">
                        <p class="book-appointment-msg">You can <a href="#">book an appointment</a> now or if you have questions, Dr. Lorem ipsum and his team are only a click or call away.</p>
                    </div>
                    <div class="widget-container">
                        <p class="msg-font">There’s never a cost or obligation when asking questions.</p>
                    </div>
                    <div class="widget-action">
                        <a href="#" class="btn btn-animated btn-book-appointment">Book an <br />Appointment</a>
                    </div>
                </div>
                <div class="col pe-lg-5 d-flex align-items-center flex-column gap-4">
                    <div class="img-contaier">
                        <img src="../images/hp-img1.png" alt="Full-Image" class="img-responsive full-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--*-->
    <div class="section msg-box-section">
        <div class="r-container">
            <div class="row row-cols-lg-1 row-cols-1">
                <div class="col pe-lg-5 mb-3 d-flex align-items-center">
                    <h2 class="big-message">The Institute for Specialized Medicine and Intervention takes a unique approach to medical care through a state-of-the-art journey from hope to healing.</h2>
                </div>
            </div>
        </div>
    </div>


    <!--*-->
    <div class="section contact-us">
        <div class="r-container px-2">
            <div class="d-flex flex-column gap-4 mx-auto text-center mb-4">
                <h3 class="font-1 fw-semibold contact-heading-title">Contact Us</h3>
                <p class="text-black contact-section-para">
                    Curabitur quis diam malesuada sem porta mollis. Ut vel tortor in neque sollicitudin
                    feugiat a ac ex. Etiam eleifend orci eget tempus rhoncus. Nunc ligula erat, elementum eu
                    augue at, pharetra iaculis leo.
                </p>
                <div class="row row-cols-lg-3 row-cols-1">
                    <div class="col mb-3">
                        <div class="icon-image mb-5">
                            <img src="../images/icon-1.png" alt="Icon" class="icon-set" />
                        </div>
                        <div class="addr-widget-container">
                            <p>30, Gurudev Nagar Main Road,<br/> Nandanwan. Nagpur.</p>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="icon-image mb-5">
                            <img src="../images/icon-2.png" alt="Icon" class="icon-set" />
                        </div>
                        <div class="tell-widget-container">
                            <p>
                                <span id="hp-body-ph1-en"><strong>Local:</strong> 1-514-700-0663</span><br>
                                <span id="hp-body-ph2-en"><strong>Toll-Free:</strong> 1-833-213-6353</span>
                            </p>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="icon-image mb-5">
                            <img src="../images/icon-3.png" alt="Icon" class="icon-set" />
                        </div>
                        <div class="calendar-widget-container text-left">
                            <span style="display: inline-block; width: 120px;"><strong>Monday</strong></span> 8:00 a.m. – 8:00 p.m.

                            <span style="display: inline-block; width: 120px;"><strong>Tuesday</strong></span> 8:00 a.m. – 6:30 p.m.

                            <span style="display: inline-block; width: 120px;"><strong>Wednesday</strong></span> 8:00 a.m. – 4:00 p.m.

                            <span style="display: inline-block; width: 120px;"><strong>Thursday</strong></span> 8:00 a.m. – 8:00 p.m.

                            <span style="display: inline-block; width: 120px;"><strong>Friday</strong></span> 8:00 a.m. – 8:00 p.m.

                            <span style="display: inline-block; width: 120px;"><strong>Saturday</strong></span>
                            9:00 a.m. – 2:00 p.m.

                            <strong><span style="display: inline-block; width: 120px;">Sunday</span></strong> Closed
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
