@{
    ViewData["Title"] = "Neurosciences";
}
<!-- Main -->
<div class="our-speciality-wrapper">
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Stroke & Cerebrovascular Diseases</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Stroke is an emergency medical condition due to disturbed blood supply to the brain
                                    It can also be called “Brain Attack” in common language to denote significance like “Heart Attack”
                                    There are two types of stroke :
                                </p>
                                <ol class="block-listing">
                                    <li>Ischemic Stroke (Due to blood clotting in the brain)</li>
                                    <li>Hemorrhagic Stroke / Brain hemorrhage ( Due to Bleeding in the brain)Hemorrhagic Stroke / Brain hemorrhage ( Due to Bleeding in the brain)</li>
                                </ol>
                                <p class="profile-position">
                                    Emergency treatment in the “Golden Hours” (First 4.5 hours of stroke ) is important. Early treatment of clotting type of stroke is by giving blood thinners and removing clot by a surgery through arteries (Thrombectomy).
                                    Treatment of Brain haemorrhage is by controlling blood pressure, brain swelling and reversing brain bleed. Some patients need life saving surgery. If patient can get this timely treatment, then their brain and life can be saved.
                                </p>
                                <p class="profile-position">
                                    Hence it is important to reach a “Stroke ready Hospital” as early as possible after stroke
                                    Stroke symptoms can be remembered by the phrase <strong>BE FAST</strong>
                                </p>
                                <p class="profile-position">
                                    <strong>
                                        B (Balance): Loss of Balance<br />
                                        E (Eyes): Vision loss or blurring of vision<br />
                                        F (Face): Drooping of face on one side<br />
                                        A (Arm): Inability raise arm<br />
                                        S (Speech): Slurring of Speech<br />
                                        T (Time): Time to reach hospital at the earliest
                                    </strong>
                                </p>
                                <p class="profile-position">
                                    If someone around you is experiencing these symptoms, they should be taken to a stroke ready hospital at the earliest.
                                </p>
                                <p class="profile-position">
                                    Risk factors for stroke are Advanced age, Hypertension, Diabetes, Heart Disease, Smoking, Alcohol consumption, Lack of Exercise, High cholesterol, diseases of blood clotting and diseases of blood vessels.
                                </p>
                                <p class="profile-position">
                                    To reduce the risk of stroke it is important to regularly check and control blood pressure, blood glucose and bad cholesterol. Quitting smoking and alcohol, healthy diet and regular exercise are also crucial.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 1 End-->
    <!--Block 2 Start-->
    <div class="section position-relative bg-level-2 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Traumatic Brain and Spinal Cord Injury</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Traumatic Brain and Spinal Cord Injury are important causes of death and disability in our country. In many cases, patients also have other injuries such as bone fractures and internal organ injury. This is called “Polytrauma”. Such cases are best managed by a comprehensive care consisting of critical care, surgery and rehabilitation. Early treatment is life saving. Hence all trauma cases should be brought to a “Trauma ready Hospital” as soon as possible.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 2 End-->
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Neurological and Neurosurgical Emergencies</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    There are many conditions with are Neurological emergencies such as Stroke, Brain Haemorrhage, Brain and spinal cord injury, Seizures, Neuro Infections, Gullaine Barre Syndrome, Transverse Myelities, Inflammatory diseases of Nervous system, certain brain tumours, some nerve and muscle diseases. These conditions are best managed in a Neurocritical care unit with a trained Neurointensivist. Timely treatment is important to save life and reduce disability.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 1 End-->
    <!--Block 2 Start-->
    <div class="section position-relative bg-level-2 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Epilepsy</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Epilepsy is a condition due to abnormal electrical activity in the brain. It presents in many forms suck as jerky movements of arms or legs, deviation of mouth, unrolling of eyeballs, frothing from mouth, tongue bite, incontinence, loss of consciousness and impairment of attention. The episodes are called as “Seizures” or “Fits”. They can last from seconds to minutes. Repeated seizures can result in a life threatening emergency. For patients experiencing such episodes, it is important to visit a Neurologist. Your Neurologist will take a detailed  history, conduct a Neurologic Examination and do certain investigations. The diagnosis is made after a complete workup and patient is started on treatment. It is important for the patients to take medicines regularly. They should avoid activities such as swimming and driving till the time their seizures are well controlled.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 2 End-->
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Parkinson Disease and Movement Disorders</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Parkinson Disease is a degenerative disease of the brain. In this condition certain parts of brain which are responsible for smooth movements of body slowly loose their functions. The symptoms of Parkinson disease are slowness of activity, tremors (shaking), stiffness (rigidity) of arms /legs/body, loss of balance and falls. With time other symptoms such as sleep problems, lack of control over urination and behavioural issues. The diagnosis of Parkinson Disease is made by a Neurologist. It is important to get early diagnosis and regular treatment of Parkinson disease with the help of Neurologist to improve quality of life.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 1 End-->
    <!--Block 2 Start-->
    <div class="section position-relative bg-level-2 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Brain and Spinal Cord Tumors</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    There are many types of brain tumours. Some tutors are benign (slow growing) and some are malignant (rapidly growing). The symptoms of brain tumor are variable. All symptoms are not present in all patients. They include headache, seizures, weakness of part of body, loss of sensation over part of body, blurring of vision, vomitting, loss of consciousness, lack of control over urination and behavioural symptoms. The diagnosis of Brain tumor is made by Neurologist with the help of History, Examination and Brain Scans. Treatment of each type of tumor is individualised base on patient and type of tumor. It can be a combination of medicines, surgery and radiation therapy in some cases. Due to advances in neurosciences, the quality of life of patients with brain tumours has significantly improved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 2 End-->
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Headache</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Headache is a common Neurologic problem. Most of the headaches are benign and self limited. Few patients have headache due to underlying brain diseases (Secondary Headache). These problems can be detected by a Brain Scan. But most of the patients do not have any brain diseases identifiable on the scan. Such cases are Called Primary Headaches. Common types of such headache are Migraine, Tension type Headache and Cluster Headache. By a detailed history and clinical assessment, the Neurologist makes diagnosis of headache type and appropriate treatment is started. Migraine headache can be on one side or both sids of head. Some patients can also have other features such as nausea, vomitting, vision symptoms, dizziness, transient loss of consciousness, speech and language issues, neck pain and shoulder pain. The migraine attacks can last from hours to days. The treatment consists of medicines for relief from attacks and preventing the attacks. Measures to prevent migraine attacks include maintaining a healthy lifestyle, regular exercise, healthy diet, regular sleep schedule, avoiding smoking and alcohol.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 1 End-->
    <!--Block 2 Start-->
    <div class="section position-relative bg-level-2 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Vertigo and Balance Disorders</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Vertigo is described as a sensation of spinning around self or surroundings. Some patients also report a sensation of imbalance while standing and walking. These symptoms can occur either due to issues in brain (Central Vertigo) or due to balancing system which connects the inner ear with brain (Peripheral Vertigo). The Neurologist can diagnose the type and cause of vertigo with help of clinical assessment and necessary investigations. Treatment of vertigo is by medicines and vestibular exercises. If central vertigo is detected, then treatment is done depending on the underlying condition.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 2 End-->
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Neck and Back Pain</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Neck and Back pain are one of the commonest conditions for which a Neurologist is consulted. Sometimes neck pain can be associated with pain and tingling in the arm. Similarly, back pain can be associated with pain and tingling in the legs. If the pain symptoms are associated with other concerning features such as loss of sensation, loss of power for lack of control over urination, then you should immediately visit a Neurologist. The evaluation requires detailed clinical assessment and scans in some cases. Most common cause is degenerative condition such as spondylosis. Other causes include slip disc, nutritional, inflammatory or traumatic conditions. The treatment is according to cause and it includes medicines and physiotherapy. Some patients may need surgery if nerve root or spinal cord compression is significant. To prevent neck or back pain, regular exercise, maintaining health diet and maintaining correct neck and back posture are essential.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 1 End-->
    <!--Block 2 Start-->
    <div class="section position-relative bg-level-2 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Nerve and Muscle Disorders</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Nerve and muscle disorders comprise of variety of diseases due to metabolic conditions (like diabetes), nutritional conditions and autoimmune or inflammatory issues. These diseases can sometimes present acutely (within days) or can be long standing. Their symptoms include tingling, numbness, oil and needles sensations or weakness in arms and legs. Accurate diagnosis by Neurologist based on clinical assessment and investigations is essential for proper treatment
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 2 End-->
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Spinal Cord Disorders</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Spinal cord diseases are of two types: Compressive and Noncompressive. Compressive diseases are due to compression of spinal cord due to diseases of vertebral column, tumours, infections or trauma. Noncompressive spinal cord diseases are due to nutritional, infective, autoimmune, inflammatory or traumatic conditions affecting spinal cord. The spinal cord disorders can present with pain, numbness, tingling, loss of power, difficulty in standing and walking, loss of urinary control. A careful assessment by Neurologist is essential for diagnosing type of spinal cord disorder. Depending on type of spinal cord disorder, treatment includes medical management, surgical management and physiotherapy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 1 End-->
    <!--Block 2 Start-->
    <div class="section position-relative bg-level-2 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Multiple Sclerosis and Demyelinating Disorders</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Multiple sclerosis is a condition in which there is damage to the covering of nerves in the brain or spinal cord. This damage is due to attack on these nervous structure by body’s immune response. Some patients can experience repeated attacks of Multiple sclerosis and some patients can have more progressive course with gradual decline in neurologic function. The symptoms are variable and can be in isolation or combination. These include: Vision loss, imbalance, weakness, difficulty in standing and walking, loss of control over urination, numbness and pain in some cases. The symptoms are worse during fever or stressful conditions. The diagnosis of multiple sclerosis is made by Neurologist by detailed assessment of patient and investigations. There have been many advances in the last decade in the treatment of multiple sclerosis. As a result the disease has become manageable and many patients with multiple sclerosis can live an independent and symptom free life.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 2 End-->
    <!--Block 1 Start-->
    <div class="section position-relative bg-level-1 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-1 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Alzheimer Disease and Dementias</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    Alzheimer Disease and Dementia’s are degenerative conditions of brain. In these conditions, parts of brain become weak with time and patients experience multiple symptoms and disability. Most common symptom is memory loss. Other symptoms are sleep issues, slowness of activities, weakness, behavioural symptoms and progressive inability to perform activities of daily living. Dementia’s are diagnoses by Neurologist based on clinical assessment and Brain scans if needed. Proper diagnosis and treatment can help patients to improve daily living and reduce the burden on caregivers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 1 End-->
    <!--Block 2 Start-->
    <div class="section position-relative bg-level-2 light-bg-content">
        <div class="section service-section">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col-lg-4 col-xs-12 col-md-4 pe-lg-5  order-second">
                        <div class="info-para h-100">
                            <div class="align-items-start d-flex h-100 header-block mb-lg-3">
                                <h4 class="block-heading  title-border-left">Child Neurology</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xs-12 col-md-8 pe-lg-5  order-second">
                        <div class="info-para">
                            <div class="header-block">
                                <p class="profile-position">
                                    There are many Neurologic conditions which affect children such as brain disorders during and around birth, genetic diseases, metabolic diseases, epilepsy, developmemtal diseases, cerebral palsy, autism and Neuro-infections. These conditions require careful assessment and diagnosis by Neurologist. Treatment options are medical management, physical therapy, occupational therapy and speech therapy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Block 2 End-->
</div>
