@{
    ViewData["Title"] = "Team";
}
<!-- Main -->
<div class="team-wrapper">
    <!-- Banner -->
    <div class="section position-relative our-team-wrapper level-1">
        <div class="section profile-section" id="DrNitinShinde">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col pe-lg-5 mb-3 order-second">
                        <div class="d-flex flex-column gap-2">
                            <h3 class="font-1 about-header">Dr. Nitin Shinde</h3>
                            <p class="st-heading-title st-size-default">MBBS, MD, (Internal Medicine), Post-Doctoral Fellowship in Infectious Diseases</p>
                            <div class="d-flex flex-column text-gray info-para">
                                <div class="header-block mb-lg-3">
                                    <h4 class="block-heading mb-3">Work Experience</h4>
                                    <p class="profile-position">Consultant inInfectious Diseases and Internal Medicine</p>
                                    <ol class="block-listing">
                                        <li>Alexis MultispecialtyHospital, Nagpur–( June 2018 – till date)</li>
                                        <li>Wockhardt MultispecialtyHospital, Nagpur– (April 2013 – June 2018)</li>
                                        <li>Fellow –Columbia Asia Hospital, Bangalore. (July 2011–Feb 2013)</li>
                                        <li>Junior Consultant – Indus Westside Hospital, Int Medicine (Oct 2010 - Aug 2011)</li>
                                        <li>Clinical assistant in Critical care – Dr. L.H Hiranandani Hospital, (June 2010- Oct 2010)</li>
                                    </ol>
                                </div>
                                <div class="header-block mb-lg-3">
                                    <h4 class="block-heading mb-3">Educational Qualification</h4>
                                    <ol class="block-listing">
                                        <li>
                                            <strong>MAHARASHTRA UNIVERSITY OF HEALTH SCIENCES,MAHARASHTRA</strong>
                                            <ul class="block-sub-listing">
                                                <li>
                                                    MD (Internal Medicine) Government Medical College, Nagpur –2010
                                                </li>
                                                <li>MBBS – JN Medical college.Wardha, Maharashtra. - 2005</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>RAJIV GANDHI UNIVERSITY OF HEALTH SCIENCES, KARANTAKA</strong>
                                            <ul class="block-sub-listing">
                                                <li>Post-doctoral Fellowship in Infectious Diseases</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>MGR UNIVERSITY, TAMILNADU AND CMC, VELLORE</strong>
                                            <ul class="block-sub-listing">
                                                <li>International Course in Tropical Medicine, 2012</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>HARVARD MEDICAL SCHOOL, BOSTON, USA</strong>
                                            <ul class="block-sub-listing">
                                                <li>Course - Update in Internal Medicine for Specialist , 2023 </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col position-relative order-1-st">
                        <div class="ps-lg-5">
                            <img src="../images/Dr-1.jpg" alt="image"
                                 class="img-fluid w-100 mb-lg-0 mb-3" />
                        </div>
                    </div>
                </div>
                <div class="row row-cols-lg-1 row-cols-1 mt-5">
                    <div class="col pe-lg-5 mb-3">
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">Publications</h4>
                            <ol class="block-listing">
                                <li>Shinde NR, Patil TB, Deshpande AS, Gulhane RV, Patil MB, Bansod YV. Clinical profile, maternal and fetal outcomes of acute hepatitis e in pregnancy. Annals of medical and health sciences research. 2014;4(8):133-9. </li>
                                <li>Shinde NR. Scrub Typhus. Vidarbha Journal of Internal Medicine. January 2019,26: 52-54</li>
                                <li>Shinde NR. HIV from Blood Exposures in India. Vidarbha Journal of Internal Medicine. July 2019,27: 56-58.</li>
                                <li>Shinde NR. COVID-19: A Review. Vidarbha Journal of Internal Medicine. July 2020,29: 71-75.</li>
                                <li>Team C. "Chennai Declaration": 5-year plan to tackle the challenge of anti-microbial resistance. Indian J Med Microbiol 2014;32:221-8.</li>
                            </ol>
                        </div>
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">Other academic activities</h4>
                            <ol class="block-listing">
                                <li>Contributor, National Guidelines for InfectionPrevention and Control in Healthcare Facilities. NCDC, MOHFW. January 2020.</li>
                                <li>Organizing secretary/Faculty, National Conference of Clinical Infectious Disease Society of India (CIDSCON 2017 & 2020). </li>
                                <li>Speaker and Coordinator- Scientific Committee, Regional Infectious Disease conference (IDCON 20160).  </li>
                                <li>Chairman, Scientific committee. Infection And Prevention Control Conference (Wockhardt Hospital, IMA Nagpur/Mumbai) (Years 2014,2015,2016,2017,2018). </li>
                                <li>Contributing author, API Textbook of Medicine- 11th and 12th  ed.</li>
                                <li>Post Graduate Teacher in Medicine for National Board of Examination.</li>
                                <li>Course Director, Advanced Course in Infection Control, Feb 2023 , Jan 2024, Alexis Hospital, Nagpur </li>
                            </ol>
                        </div>
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">Membership</h4>
                            <ol class="block-listing">
                                <li>Clinical Infectious disease Society of India.</li>
                                <li>Infectious Disease Society of America – IDSA</li>
                                <li>European Society of Clinical Microbiology – ESCMID</li>
                            </ol>
                        </div>
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">References</h4>
                            <ol class="block-listing">
                                <li>Dr. Rajini Ashok  - Senior Director , Clinical Quality , Zulekha  and Alexis Hospitals, Dubai, UAE.</li>
                                <li>Dr. Swati Rajagopal - Consultant, Infectious diseases and travel medicine, Aster CMI Hospital, Bengaluru. India </li>
                                <li>Dr. Tushar Gawad, COO, KIMS hospitals, Nagpur, India</li>
                            </ol>
                        </div>

                        <div>
                            <a href="#" class="btn btn-animated">Book an<br />Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section position-relative our-team-wrapper level-2">
        <div class="section profile-section" id="DrRashmiShinde">
            <div class="r-container">
                <div class="row row-cols-lg-2 row-cols-1">
                    <div class="col position-relative order-1-st">
                        <div class="pe-lg-5">
                            <img src="../images/Dr-2.jpg" alt="image"
                                 class="img-fluid w-100 mb-lg-0 mb-3" />
                        </div>
                    </div>
                    <div class="col pe-lg-5 mb-3 order-second">
                        <div class="d-flex flex-column gap-2">
                            <h3 class="font-1 about-header">Dr. Rashmi Shinde</h3>
                            <p class="st-heading-title st-size-default">Consultant Obstetric Medicine , Gynecology  & IVF</p>
                            <div class="d-flex flex-column text-gray info-para">
                                <div class="header-block mb-lg-3">
                                    <h4 class="block-heading mb-3">Work Experience</h4>
                                    <p class="profile-position">Consultant inInfectious Diseases and Internal Medicine</p>
                                    <ol class="block-listing">
                                        <li>10 years experience in Obstetrics and Gynecology</li>
                                        <li>Conducted > 600 High Risk deliveries</li>
                                        <li>Consultant Wockhardt Hospital (Nagpur)</li>
                                        <li>Asst. Professor GMC (Nagpur)</li>
                                        <li>Consultant Matrusewa Sangh, Mahal (Nagpur)</li>
                                        <li>Fellow in high Risk Pregnancy Fernandez Hospital Hyderabad</li>
                                    </ol>
                                </div>
                                <div class="header-block mb-lg-3">
                                    <h4 class="block-heading mb-3">Educational Qualification</h4>
                                    <ol class="block-listing">
                                        <li>
                                            MBBS
                                        </li>
                                        <li>
                                            MS ( OBGY)
                                        </li>
                                        <li>
                                           DNB (OBGY)
                                        </li>
                                        <li>
                                            MRCOG
                                        </li>
                                        <li>
                                            Fellowship high risk pregnancy and obstetric medicine Fellowship in IVF
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-lg-1 row-cols-1 mt-5">
                    <div class="col pe-lg-5 mb-3">
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">Research & Publications</h4>
                            <ol class="block-listing">
                                <li>To assess the predictive value of cytological smear and culture of vaginal discharge in reproductive age group women</li>
                            </ol>
                        </div>
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">Training Programmes</h4>
                            <ol class="block-listing">
                                <li>K2MS CTG Training </li>
                                <li>Perineal tear repair workshop</li>
                                <li>Basic Colposcopy Training workshop</li>
                                <li>Obstetrics emergencies and life support skills workshop</li>
                            </ol>
                        </div>
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">Areas of Experties</h4>
                            <ol class="block-listing">
                                <li>Obstetrics IC</li>
                                <li>Medical disorders complicating pregnancy </li>
                                <li>Promoting Natural birth (Vaginal Deliveries)</li>
                                <li>Infertility</li>
                                <li>Hysteroscopy</li>
                            </ol>
                        </div>
                        <div class="header-block mb-lg-3">
                            <h4 class="block-heading mb-3">Membership</h4>
                            <ol class="block-listing">
                                <li>Federation of Obstetrics and Gynecology society of India  - FOGSI</li>
                                <li>Society of Obstetric Medicine of India - SOMI</li>
                            </ol>
                        </div>

                        <div>
                            <a href="#" class="btn btn-animated">Book an<br />Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
